<div align="center">
  <h1 style="color: #4CAF50; font-size: 3em; font-family: Arial, sans-serif;">
    ~ <b>FINAL PROJECT</b> ~
  </h1>
</div>

- ### [**üåê Kaggle**](https://www.kaggle.com/datasets/rojour/boston-results)</br>
- ### [**üìò Student Portal | Guideline**](https://my.ironhack.com/cohorts/64f9d71d3689ad002ac79d8b/lms/courses/course-v1:IRONHACK+DAFT4+202409_BER/modules/ironhack-course-chapter_8/units/ironhack-course-chapter_8-sequential-vertical_2)</br>
- ### [**üìÇ GitHub: Final Project**](https://github.com/Marc-Bouche/final-project)</br>
-  ### [**üó®Ô∏è Presentation**](https://docs.google.com/presentation/d/1h-ykC9EjER1dtvpqKTz3Wb-pNkcOA2AqpSpj7C4jCyI/edit#slide=id.p)</br>
-  ### [**üì± Streamlit**]()</br>
- ### [**üå§Ô∏è API Open-Meteo**](https://open-meteo.com/en/docs#hourly=temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation_probability,precipitation,rain,showers,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,evapotranspiration,wind_speed_10m,wind_direction_10m,wind_gusts_10m,soil_temperature_0cm,soil_moisture_0_to_1cm,is_day&location_mode=csv_coordinates&csv_coordinates=42.355007,++-71.12906&forecast_days=1&forecast_hours=12)</br>
- ### Web scraping?

# **Data Frames List**

In [44]:
# Raw df marathon data 2015
# df_15

In [45]:
# Raw df marathon data 2016
# df_16

In [46]:
# Raw df marathon data 2017
# df_17

In [47]:
#Weather data from race day (20/04/2015)
# api_15

In [48]:
#Weather data from race day (18/04/2016)
# api_16

In [49]:
#Weather data from race day (17/04/2017)
# api_17

In [50]:
# Concat() of api_15, 16 and 17
# df_weather

# **Pip Installation**

In [52]:
pip install requests-cache retry-requests numpy pandas

Requirement already satisfied: requests-cache in /opt/anaconda3/lib/python3.12/site-packages (1.2.1)
Requirement already satisfied: retry-requests in /opt/anaconda3/lib/python3.12/site-packages (2.0.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: attrs>=21.2 in /opt/anaconda3/lib/python3.12/site-packages (from requests-cache) (23.1.0)
Requirement already satisfied: cattrs>=22.2 in /opt/anaconda3/lib/python3.12/site-packages (from requests-cache) (24.1.2)
Requirement already satisfied: platformdirs>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests-cache) (3.10.0)
Requirement already satisfied: requests>=2.22 in /opt/anaconda3/lib/python3.12/site-packages (from requests-cache) (2.32.2)
Requirement already satisfied: url-normalize>=1.4 in /opt/anaconda3/lib/python3.12/site-packages (from requests-cache) (1.4.3)
Requirement already satisfied: urllib3>=1.25.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests-cache) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.22->requests-cache) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.22->requests-cache) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.22->requests-cache) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

# API

- [Open-Meteo](https://open-meteo.com/en/docs#hourly=temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation_probability,precipitation,rain,showers,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,evapotranspiration,wind_speed_10m,wind_direction_10m,wind_gusts_10m,soil_temperature_0cm,soil_moisture_0_to_1cm,is_day&location_mode=csv_coordinates&csv_coordinates=42.355007,++-71.12906&forecast_days=1&forecast_hours=12)

In [69]:
# Setup cache and retry mechanism
cache_session = requests_cache.CachedSession('.cache', expire_after=3600)
retries = Retry(total=5, backoff_factor=0.2)
cache_session.mount("https://", HTTPAdapter(max_retries=retries))

# Define the API endpoint and parameters
url = "https://archive-api.open-meteo.com/v1/era5"
params = {
    "latitude": 42.355007,
    "longitude": -71.12906,
    "start_date": "2015-04-20",
    "end_date": "2015-04-20",
    "hourly": [
        "temperature_2m", "relative_humidity_2m", "dew_point_2m", 
        "apparent_temperature", "precipitation_probability", "precipitation", 
        "rain", "showers", "pressure_msl", "surface_pressure", "cloud_cover", 
        "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "visibility", 
        "evapotranspiration", "wind_speed_10m", "wind_direction_10m", "wind_gusts_10m", 
        "soil_temperature_0cm", "soil_moisture_0_to_1cm", "is_day"
    ],
}

# Make the API request
response = cache_session.get(url, params=params)
data = response.json()

# Extract and format hourly data into a DataFrame
hourly_data = data.get("hourly", {})
api_15 = pd.DataFrame(hourly_data)  # Store the data in a new DataFrame called 'api_15'
api_15["time"] = pd.to_datetime(api_15["time"])

# Filter to only include the range from 10:00 to 18:00
api_15 = api_15.set_index("time").between_time("10:00", "18:00").reset_index()


api_15

,time,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation_probability,precipitation,rain,showers,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,evapotranspiration,wind_speed_10m,wind_direction_10m,wind_gusts_10m,soil_temperature_0cm,soil_moisture_0_to_1cm,is_day
0,2015-04-20 10:00:00,5.0,91,3.7,2.4,None,0.0,0.0,0.0,1022.4,1021.5,100,11,99,100,None,None,7.6,115,19.8,None,None,1
1,2015-04-20 11:00:00,5.3,89,3.7,2.3,None,0.0,0.0,0.0,1022.3,1021.4,100,38,100,100,None,None,10.0,105,23.8,None,None,1
2,2015-04-20 12:00:00,6.0,84,3.6,2.6,None,0.0,0.0,0.0,1021.7,1020.8,100,34,93,100,None,None,13.0,92,32.4,None,None,1
3,2015-04-20 13:00:00,6.7,81,3.6,2.6,None,0.0,0.0,0.0,1020.8,1019.9,100,30,98,100,None,None,17.7,92,37.1,None,None,1
4,2015-04-20 14:00:00,6.7,82,3.9,2.5,None,0.0,0.0,0.0,1020.3,1019.4,100,36,95,100,None,None,18.8,94,36.4,None,None,1
5,2015-04-20 15:00:00,6.7,85,4.3,2.5,None,0.0,0.0,0.0,1019.5,1018.6,100,66,98,100,None,None,19.5,95,37.8,None,None,1
6,2015-04-20 16:00:00,7.0,84,4.5,2.5,None,0.2,0.2,0.0,1018.3,1017.4,100,100,100,100,None,None,21.9,99,38.5,None,None,1
7,2015-04-20 17:00:00,7.3,86,5.1,3.1,None,0.8,0.8,0.0,1017.5,1016.6,100,100,100,100,None,None,20.1,99,41.8,None,None,1
8,2015-04-20 18:00:00,7.2,94,6.2,3.2,None,1.5,1.5,0.0,1016.1,1015.2,100,100,100,100,None,None,20.5,105,42.5,None,None,1

In [70]:
# Setup cache and retry mechanism
cache_session = requests_cache.CachedSession('.cache', expire_after=3600)
retries = Retry(total=5, backoff_factor=0.2)
cache_session.mount("https://", HTTPAdapter(max_retries=retries))

# Define the API endpoint and parameters
url = "https://archive-api.open-meteo.com/v1/era5"
params = {
    "latitude": 42.355007,
    "longitude": -71.12906,
    "start_date": "2016-04-18",
    "end_date": "2016-04-18",
    "hourly": [
        "temperature_2m", "relative_humidity_2m", "dew_point_2m", 
        "apparent_temperature", "precipitation_probability", "precipitation", 
        "rain", "showers", "pressure_msl", "surface_pressure", "cloud_cover", 
        "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "visibility", 
        "evapotranspiration", "wind_speed_10m", "wind_direction_10m", "wind_gusts_10m", 
        "soil_temperature_0cm", "soil_moisture_0_to_1cm", "is_day"
    ],
}

# Make the API request
response = cache_session.get(url, params=params)
data = response.json()

# Extract and format hourly data into a DataFrame
hourly_data = data.get("hourly", {})
api_16 = pd.DataFrame(hourly_data)  # Store the data in a new DataFrame called 'api_16'
api_16["time"] = pd.to_datetime(api_16["time"])

# Filter to only include the range from 10:00 to 18:00
api_16 = api_16.set_index("time").between_time("10:00", "18:00").reset_index()


api_16

,time,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation_probability,precipitation,rain,showers,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,evapotranspiration,wind_speed_10m,wind_direction_10m,wind_gusts_10m,soil_temperature_0cm,soil_moisture_0_to_1cm,is_day
0,2016-04-18 10:00:00,4.7,87,2.8,1.5,None,0.0,0.0,0.0,1023.0,1022.1,83,0,0,82,None,None,11.1,335,17.6,None,None,1
1,2016-04-18 11:00:00,5.5,86,3.3,2.3,None,0.0,0.0,0.0,1023.2,1022.3,90,0,0,90,None,None,10.8,339,18.4,None,None,1
2,2016-04-18 12:00:00,9.6,71,4.7,7.2,None,0.0,0.0,0.0,1023.2,1022.3,91,0,0,91,None,None,8.1,339,18.7,None,None,1
3,2016-04-18 13:00:00,13.4,58,5.3,11.3,None,0.0,0.0,0.0,1023.2,1022.3,98,0,0,98,None,None,6.2,353,19.8,None,None,1
4,2016-04-18 14:00:00,15.6,51,5.4,13.7,None,0.0,0.0,0.0,1023.2,1022.4,78,0,2,77,None,None,7.0,21,23.0,None,None,1
5,2016-04-18 15:00:00,16.5,48,5.5,15.1,None,0.0,0.0,0.0,1023.0,1022.2,77,0,2,76,None,None,9.7,51,26.6,None,None,1
6,2016-04-18 16:00:00,16.8,49,5.9,15.5,None,0.0,0.0,0.0,1023.0,1022.2,90,0,7,88,None,None,12.3,58,29.5,None,None,1
7,2016-04-18 17:00:00,16.2,50,5.9,15.0,None,0.0,0.0,0.0,1022.8,1022.0,92,0,4,91,None,None,13.4,70,32.8,None,None,1
8,2016-04-18 18:00:00,15.7,51,5.5,14.4,None,0.0,0.0,0.0,1022.3,1021.5,53,0,0,52,None,None,13.1,82,33.8,None,None,1

In [71]:
# Setup cache and retry mechanism
cache_session = requests_cache.CachedSession('.cache', expire_after=3600)
retries = Retry(total=5, backoff_factor=0.2)
cache_session.mount("https://", HTTPAdapter(max_retries=retries))

# Define the API endpoint and parameters
url = "https://archive-api.open-meteo.com/v1/era5"
params = {
    "latitude": 42.355007,
    "longitude": -71.12906,
    "start_date": "2017-04-17",
    "end_date": "2017-04-17",
    "hourly": [
        "temperature_2m", "relative_humidity_2m", "dew_point_2m", 
        "apparent_temperature", "precipitation_probability", "precipitation", 
        "rain", "showers", "pressure_msl", "surface_pressure", "cloud_cover", 
        "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "visibility", 
        "evapotranspiration", "wind_speed_10m", "wind_direction_10m", "wind_gusts_10m", 
        "soil_temperature_0cm", "soil_moisture_0_to_1cm", "is_day"
    ],
}

# Make the API request
response = cache_session.get(url, params=params)
data = response.json()

# Extract and format hourly data into a DataFrame
hourly_data = data.get("hourly", {})
api_17 = pd.DataFrame(hourly_data)  # Store the data in a new DataFrame called 'api_16'
api_17["time"] = pd.to_datetime(api_17["time"])

# Filter to only include the range from 10:00 to 18:00
api_17 = api_17.set_index("time").between_time("10:00", "18:00").reset_index()


api_17

,time,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation_probability,precipitation,rain,showers,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,evapotranspiration,wind_speed_10m,wind_direction_10m,wind_gusts_10m,soil_temperature_0cm,soil_moisture_0_to_1cm,is_day
0,2017-04-17 10:00:00,15.2,88,13.1,13.8,None,0.0,0.0,0.0,1009.1,1008.3,37,0,0,37,None,None,16.2,273,28.8,None,None,1
1,2017-04-17 11:00:00,15.8,84,13.1,14.2,None,0.0,0.0,0.0,1010.0,1009.2,28,0,0,28,None,None,17.7,272,29.5,None,None,1
2,2017-04-17 12:00:00,18.6,76,14.2,17.7,None,0.0,0.0,0.0,1010.1,1009.3,52,0,0,0,None,None,15.8,258,32.0,None,None,1
3,2017-04-17 13:00:00,20.5,61,12.8,18.8,None,0.0,0.0,0.0,1009.9,1009.1,12,0,0,12,None,None,17.6,270,32.0,None,None,1
4,2017-04-17 14:00:00,21.1,46,9.1,17.9,None,0.0,0.0,0.0,1010.1,1009.3,44,8,0,40,None,None,21.7,277,40.0,None,None,1
5,2017-04-17 15:00:00,21.5,41,7.7,18.3,None,0.0,0.0,0.0,1010.3,1009.5,88,8,0,86,None,None,22.9,277,41.8,None,None,1
6,2017-04-17 16:00:00,21.8,32,4.2,17.8,None,0.0,0.0,0.0,1010.5,1009.7,92,2,0,92,None,None,25.2,280,46.1,None,None,1
7,2017-04-17 17:00:00,22.0,28,2.7,18.2,None,0.0,0.0,0.0,1010.8,1010.0,100,0,0,100,None,None,24.3,282,46.1,None,None,1
8,2017-04-17 18:00:00,21.2,32,3.8,17.0,None,0.0,0.0,0.0,1011.3,1010.5,100,0,0,100,None,None,25.4,286,46.1,None,None,1

In [72]:
# Concatenate the DataFrames
df_weather = pd.concat([api_15, api_16, api_17], ignore_index=True)
df_weather.head(28)

,time,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation_probability,precipitation,rain,showers,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,evapotranspiration,wind_speed_10m,wind_direction_10m,wind_gusts_10m,soil_temperature_0cm,soil_moisture_0_to_1cm,is_day
0,2015-04-20 10:00:00,5.0,91,3.7,2.4,None,0.0,0.0,0.0,1022.4,1021.5,100,11,99,100,None,None,7.6,115,19.8,None,None,1
1,2015-04-20 11:00:00,5.3,89,3.7,2.3,None,0.0,0.0,0.0,1022.3,1021.4,100,38,100,100,None,None,10.0,105,23.8,None,None,1
2,2015-04-20 12:00:00,6.0,84,3.6,2.6,None,0.0,0.0,0.0,1021.7,1020.8,100,34,93,100,None,None,13.0,92,32.4,None,None,1
3,2015-04-20 13:00:00,6.7,81,3.6,2.6,None,0.0,0.0,0.0,1020.8,1019.9,100,30,98,100,None,None,17.7,92,37.1,None,None,1
4,2015-04-20 14:00:00,6.7,82,3.9,2.5,None,0.0,0.0,0.0,1020.3,1019.4,100,36,95,100,None,None,18.8,94,36.4,None,None,1
5,2015-04-20 15:00:00,6.7,85,4.3,2.5,None,0.0,0.0,0.0,1019.5,1018.6,100,66,98,100,None,None,19.5,95,37.8,None,None,1
6,2015-04-20 16:00:00,7.0,84,4.5,2.5,None,0.2,0.2,0.0,1018.3,1017.4,100,100,100,100,None,None,21.9,99,38.5,None,None,1
7,2015-04-20 17:00:00,7.3,86,5.1,3.1,None,0.8,0.8,0.0,1017.5,1016.6,100,100,100,100,None,None,20.1,99,41.8,None,None,1
8,2015-04-20 18:00:00,7.2,94,6.2,3.2,None,1.5,1.5,0.0,1016.1,1015.2,100,100,100,100,None,None,20.5,105,42.5,None,None,1
9,2016-04-18 10:00:00,4.7,87,2.8,1.5,None,0.0,0.0,0.0,1023.0,1022.1,83,0,0,82,None,None,11.1,335,17.6,None,None,1
10,2016-04-18 11:00:00,5.5,86,3.3,2.3,None,0.0,0.0,0.0,1023.2,1022.3,90,0,0,90,None,None,10.8,339,18.4,None,None,1
11,2016-04-18 12:00:00,9.6,71,4.7,7.2,None,0.0,0.0,0.0,1023.2,1022.3,91,0,0,91,None,None,8.1,339,18.7,None,None,1
12,2016-04-18 13:00:00,13.4,58,5.3,11.3,None,0.0,0.0,0.0,1023.2,1022.3,98,0,0,98,None,None,6.2,353,19.8,None,None,1
13,2016-04-18 14:00:00,15.6,51,5.4,13.7,None,0.0,0.0,0.0,1023.2,1022.4,78,0,2,77,None,None,7.0,21,23.0,None,None,1
14,2016-04-18 15:00:00,16.5,48,5.5,15.1,None,0.0,0.0,0.0,1023.0,1022.2,77,0,2,76,None,None,9.7,51,26.6,None,None,1
15,2016-04-18 16:00:00,16.8,49,5.9,15.5,None,0.0,0.0,0.0,1023.0,1022.2,90,0,7,88,None,None,12.3,58,29.5,None,None,1
16,2016-04-18 17:00:00,16.2,50,5.9,15.0,None,0.0,0.0,0.0,1022.8,1022.0,92,0,4,91,None,None,13.4,70,32.8,None,None,1
17,2016-04-18 18:00:00,15.7,51,5.5,14.4,None,0.0,0.0,0.0,1022.3,1021.5,53,0,0,52,None,None,13.1,82,33.8,None,None,1
18,2017-04-17 10:00:00,15.2,88,13.1,13.8,None,0.0,0.0,0.0,1009.1,1008.3,37,0,0,37,None,None,16.2,273,28.8,None,None,1
19,2017-04-17 11:00:00,15.8,84,13.1,14.2,None,0.0,0.0,0.0,1010.0,1009.2,28,0,0,28,None,None,17.7,272,29.5,None,None,1
20,2017-04-17 12:00:00,18.6,76,14.2,17.7,None,0.0,0.0,0.0,1010.1,1009.3,52,0,0,0,None,None,15.8,258,32.0,None,None,1
21,2017-04-17 13:00:00,20.5,61,12.8,18.8,None,0.0,0.0,0.0,1009.9,1009.1,12,0,0,12,None,None,17.6,270,32.0,None,None,1
22,2017-04-17 14:00:00,21.1,46,9.1,17.9,None,0.0,0.0,0.0,1010.1,1009.3,44,8,0,40,None,None,21.7,277,40.0,None,None,1
23,2017-04-17 15:00:00,21.5,41,7.7,18.3,None,0.0,0.0,0.0,1010.3,1009.5,88,8,0,86,None,None,22.9,277,41.8,None,None,1
24,2017-04-17 16:00:00,21.8,32,4.2,17.8,None,0.0,0.0,0.0,1010.5,1009.7,92,2,0,92,None,None,25.2,280,46.1,None,None,1
25,2017-04-17 17:00:00,22.0,28,2.7,18.2,None,0.0,0.0,0.0,1010.8,1010.0,100,0,0,100,None,None,24.3,282,46.1,None,None,1
26,2017-04-17 18:00:00,21.2,32,3.8,17.0,None,0.0,0.0,0.0,1011.3,1010.5,100,0,0,100,None,None,25.4,286,46.1,None,None,1

In [62]:
df_17.shape
df_17.isnull().sum()

Unnamed: 0           0
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 0
State             3595
Country              0
Citizen          25156
Unnamed: 9       26319
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

In [63]:
df_15.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [64]:
df_15['Bib'].nunique()

26598

# **Data Import**

In [54]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import math
import pytz
%matplotlib inline

#APIs
import requests
from datetime import datetime
import openmeteo_requests
import requests_cache
from retry_requests import retry
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry

# Display all columns
pd.set_option('display.max_columns', None)

In [55]:
# Load the CSV file into a pandas DataFrame
file_path = "/Users/mbouch17/Desktop/IronHack/Labs &  Project/final-project/marathon_results_2015.csv"
df_15 = pd.read_csv(file_path)

In [56]:
# Load the CSV file into a pandas DataFrame
file_path = "/Users/mbouch17/Desktop/IronHack/Labs &  Project/final-project/marathon_results_2016.csv"
df_16 = pd.read_csv(file_path)

In [57]:
# Load the CSV file into a pandas DataFrame
file_path = "/Users/mbouch17/Desktop/IronHack/Labs &  Project/final-project/marathon_results_2017.csv"
df_17 = pd.read_csv(file_path)

# **Data Exploration**

In [59]:
df_15

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,MI,0:50:15,1:43:31,2:36:53,3:32:26,3:43:46,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,NaN,0:48:36,1:39:39,2:39:13,3:35:58,3:47:55,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,NaN,0:53:03,1:47:16,2:41:45,3:37:07,3:48:21,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,NaN,0:49:04,1:40:12,2:33:31,3:31:41,3:43:35,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,MI,0:40:14,1:28:18,2:26:46,3:28:41,3:40:36,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [60]:
df_15.shape
df_15.isnull().sum()

Unnamed: 0           0
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 0
State             2551
Country              0
Citizen          25534
Unnamed: 9       26531
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

In [61]:
df_16.shape
df_16.isnull().sum()

Bib                  0
Name                 0
Age                  0
M/F                  0
City                 1
State             2847
Country              0
Citizen          25508
Unnamed: 8       26547
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

# **Data Cleaning**

In [256]:
# Concatenate along rows
df_15['year'] = 2015
df_16['year'] = 2016
df_17['year'] = 2017

# Concatenate along rows
df_combined = pd.concat([df_15, df_16, df_17], ignore_index=True)

df_all= pd.concat([df_15, df_16, df_17], ignore_index=True)
df_all

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,year,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,2015,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,2015,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,2015,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,2015,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,2015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79633,26405.0,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,0:46:44,1:35:41,2:23:35,3:12:44,3:23:31,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407,11972,344,2017,NaN
79634,26406.0,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,0:32:03,1:05:33,1:52:17,2:49:41,3:00:26,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408,14436,4774,2017,NaN
79635,26407.0,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,0:53:11,1:43:36,2:32:36,-,3:36:24,4:15:21,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409,11973,698,2017,NaN
79636,26408.0,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,0:40:34,1:27:19,2:17:17,3:11:40,3:22:30,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410,14437,1043,2017,NaN
79637,26409.0,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,0:39:36,1:17:12,2:00:10,2:58:55,3:08:16,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411,14438,2553,2017,NaN

In [258]:
df_all.isnull().sum()

Unnamed: 0       26630
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 1
State             8993
Country              0
Citizen          76198
Unnamed: 9       79480
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
year                 0
Unnamed: 8       79555
dtype: int64

In [260]:
df_all['Proj Time'].value_counts()

Proj Time
-           53117
3:40:38        14
3:27:48        14
3:28:49        14
3:36:17        14
            ...
4:44:17         1
4:44:19         1
4:44:20         1
2:55:34         1
10:42:16        1
Name: count, Length: 8891, dtype: int64

In [262]:
# Dropping specified columns
df_all = df_all.drop(['Citizen', 'Unnamed: 9', 'Unnamed: 8','State'], axis=1)


# Convert the index to integer type
df_all.index = df_all.index.astype(int)

# Define the new column names
df_all = df_all.rename(columns={
    'Proj Time': 'proj_time',
    'Official Time': 'time'
})

# Convert all other column names to lowercase except for distance columns
df_all.columns = [
    col if col in ['5K', '10K', '15K', '20K', '25K', '30K', '35K', '40K'] else col.lower()
    for col in df_all.columns
]


df_all

,unnamed: 0,bib,name,age,m/f,city,country,5K,10K,15K,20K,half,25K,30K,35K,40K,pace,proj_time,time,overall,gender,division,year
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,2015
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,2015
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,KEN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,2015
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,KEN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,2015
4,4.0,10,"Korir, Wesley",32,M,Kitale,KEN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79633,26405.0,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,USA,0:46:44,1:35:41,2:23:35,3:12:44,3:23:31,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407,11972,344,2017
79634,26406.0,25178,"Avelino, Andrew R.",25,M,Fayetteville,USA,0:32:03,1:05:33,1:52:17,2:49:41,3:00:26,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408,14436,4774,2017
79635,26407.0,27086,"Hantel, Johanna",57,F,Malvern,USA,0:53:11,1:43:36,2:32:36,-,3:36:24,4:15:21,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409,11973,698,2017
79636,26408.0,25268,"Reilly, Bill",64,M,New York,USA,0:40:34,1:27:19,2:17:17,3:11:40,3:22:30,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410,14437,1043,2017
79637,26409.0,25266,"Rigsby, Scott",48,M,Alpharetta,USA,0:39:36,1:17:12,2:00:10,2:58:55,3:08:16,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411,14438,2553,2017

In [266]:
df_all.shape

(79638, 23)