<div align="center">
  <h1 style="color: #4CAF50; font-size: 3em; font-family: Arial, sans-serif;">
    ~ <b>FINAL PROJECT</b> ~
  </h1>
</div>

- ### [**üåê Kaggle**](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package)</br>
- ### [**üìò Student Portal | Guideline**](https://my.ironhack.com/cohorts/64f9d71d3689ad002ac79d8b/lms/courses/course-v1:IRONHACK+DAFT4+202409_BER/modules/ironhack-course-chapter_8/units/ironhack-course-chapter_8-sequential-vertical_2)</br>
- ### [**üìÇ GitHub: Final Project**](https://github.com/Marc-Bouche/final-project)</br>
-  ### [**üó®Ô∏è Presentation**](https://docs.google.com/presentation/d/1h-ykC9EjER1dtvpqKTz3Wb-pNkcOA2AqpSpj7C4jCyI/edit#slide=id.p)</br>
-  ### [**üì± Streamlit**]()</br>
- ### API? Web Scraping? ###

# **Data Import**

In [134]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import math
import pytz
%matplotlib inline

#API
import requests
from datetime import datetime

# Display all columns
pd.set_option('display.max_columns', None)

In [109]:
# Load the CSV file into a pandas DataFrame
file_path = "/Users/mbouch17/Desktop/IronHack/Labs &  Project/final-project/marathon_results_2015.csv"
df_15 = pd.read_csv(file_path)

In [111]:
# Load the CSV file into a pandas DataFrame
file_path = "/Users/mbouch17/Desktop/IronHack/Labs &  Project/final-project/marathon_results_2016.csv"
df_16 = pd.read_csv(file_path)

In [113]:
# Load the CSV file into a pandas DataFrame
file_path = "/Users/mbouch17/Desktop/IronHack/Labs &  Project/final-project/marathon_results_2017.csv"
df_17 = pd.read_csv(file_path)

# **Data Exploration**

In [129]:
df_15

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,MI,0:50:15,1:43:31,2:36:53,3:32:26,3:43:46,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,NaN,0:48:36,1:39:39,2:39:13,3:35:58,3:47:55,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,NaN,0:53:03,1:47:16,2:41:45,3:37:07,3:48:21,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,NaN,0:49:04,1:40:12,2:33:31,3:31:41,3:43:35,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,MI,0:40:14,1:28:18,2:26:46,3:28:41,3:40:36,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [119]:
df_15.shape
df_15.isnull().sum()

Unnamed: 0           0
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 0
State             2551
Country              0
Citizen          25534
Unnamed: 9       26531
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

In [103]:
df_16.shape
df_16.isnull().sum()

Bib                  0
Name                 0
Age                  0
M/F                  0
City                 1
State             2847
Country              0
Citizen          25508
Unnamed: 8       26547
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

In [121]:
df_17.shape
df_17.isnull().sum()

Unnamed: 0           0
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 0
State             3595
Country              0
Citizen          25156
Unnamed: 9       26319
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

In [123]:
df_15.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [125]:
df_15['Bib'].nunique()

26598

# API

In [156]:
# Your Meteomatics API credentials
username = 'ironhack_bouch_marc'  # My username
password = '9aIOqFi122'           # My password

# Define the endpoint
base_url = 'https://api.meteomatics.com/'

# Define the time zone for Boston
boston_tz = pytz.timezone('America/New_York')

# Define the specific start and end dates for each year
dates = [
    ("2015-04-20 10:00", "2015-04-20 16:00"),
    ("2016-04-18 10:00", "2016-04-18 16:00"),
    ("2017-04-17 10:00", "2017-04-17 16:00"),
]

# Loop through each date pair to make API requests
for start, end in dates:
    # Convert strings to datetime objects in local Boston time
    start_date = boston_tz.localize(datetime.strptime(start, '%Y-%m-%d %H:%M'))
    end_date = boston_tz.localize(datetime.strptime(end, '%Y-%m-%d %H:%M'))

    # Format the dates for the API request
    start_date_str = start_date.strftime('%Y-%m-%dT%H:%M:%S')
    end_date_str = end_date.strftime('%Y-%m-%dT%H:%M:%S')

    # Define the location (e.g., Boston)
    location = '42.3601,-71.0589'  # Latitude, Longitude for Boston

    # Query for specific weather data (e.g., temperature and precipitation)
    parameters = f'{start_date_str}/{end_date_str}/PT1H:temperature_2m,precipitation_sum'

    # Full URL
    url = f'{base_url}{parameters}/{location}/json'

    # Make the API request
    response = requests.get(url, auth=(username, password))

    # Check the response
    if response.status_code == 200:
        data = response.json()
        print(f"Weather data for {start_date_str} to {end_date_str}:")
        print(data)  # Print the weather data
    else:
        print(f'Error for {start_date_str} to {end_date_str}: {response.status_code} - {response.text}')

Error for 2015-04-20T10:00:00 to 2015-04-20T16:00:00: 400 - Incorrect URL
Error for 2016-04-18T10:00:00 to 2016-04-18T16:00:00: 400 - Incorrect URL
Error for 2017-04-17T10:00:00 to 2017-04-17T16:00:00: 400 - Incorrect URL